In [1]:
import pandas as pd

In [2]:
# 1. read the file into a DataFrame
df = pd.read_csv('data/continents.csv', sep=';')

In [3]:
# 2. display the number of rows and columns
df.shape

(194, 2)

In [4]:
# 3. display the first 5 countries in the alphabet
df.loc[df.sort_values(by='country').country.str.startswith('B')].loc[::-1].head()

         continent   country
184  South America    Brazil
183  South America   Bolivia
148  North America    Belize
147  North America  Barbados
146  North America   Bahamas

In [21]:
df.groupby('continent', sort =True)[['country']].count().index[0]

'Africa'

In [22]:
# 4. which continent has the most countries?
a_df=df.groupby('continent').count().reset_index()

In [23]:
a_df[a_df.country==a_df.country.max()]['continent']

0    Africa
Name: continent, dtype: object

In [27]:
# 5. find out on which continent Cyprus is
df[df.country=='Cyprus'].continent

108    Europe
Name: continent, dtype: object

In [28]:
# 6. define a DataFrame with all African countries
africa = df[df.continent=='Africa']
africa.size

108

In [29]:
# 7. define a DataFrame with countries 80 through 100
subset = df.iloc[20:101]

In [30]:
subset

    continent        country
20     Africa          Ghana
21     Africa         Guinea
22     Africa  Guinea-Bissau
23     Africa    Ivory Coast
24     Africa          Kenya
..        ...            ...
96       Asia        Vietnam
97       Asia          Yemen
98     Europe        Albania
99     Europe        Andorra
100    Europe        Armenia

[81 rows x 2 columns]

In [31]:
# 8. select every second country
df.loc[::2,:]

         continent                   country
0           Africa                   Algeria
2           Africa                     Benin
4           Africa                   Burkina
6           Africa                  Cameroon
8           Africa  Central African Republic
..             ...                       ...
184  South America                    Brazil
186  South America                  Colombia
188  South America                    Guyana
190  South America                      Peru
192  South America                   Uruguay

[97 rows x 2 columns]