# Data Round-Trip

In [5]:
import pandas as pd

## CSV

Read the CSV file `large_countries_2015.csv`

In [7]:
df = pd.read_csv('data/large_countries_2015.csv', index_col=0)
df.head()

              population  fertility      continent
Bangladesh  1.609956e+08       2.12           Asia
Brazil      2.078475e+08       1.78  South America
China       1.376049e+09       1.57           Asia
India       1.311051e+09       2.43           Asia
Indonesia   2.575638e+08       2.28           Asia

## Excel

* Write the data into an Excel file
* Read the data again

In [8]:
df.to_excel('data/large_countries.xlsx')

In [10]:
df = pd.read_excel('data/large_countries.xlsx', index_col=0)

In [11]:
df.head()

            population  fertility      continent
Bangladesh   160995642       2.12           Asia
Brazil       207847528       1.78  South America
China       1376048943       1.57           Asia
India       1311050527       2.43           Asia
Indonesia    257563815       2.28           Asia


## JSON - Java Script Object Notation

* Write the data into a JSON file
* Read the data again


## SQL

Install the library SQLAlchemy:

In [12]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /home/puviy/anaconda3/lib/python3.11/site-packages (2.0.21)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/puviy/anaconda3/lib/python3.11/site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /home/puviy/anaconda3/lib/python3.11/site-packages (from sqlalchemy) (2.0.1)

Create a connection to a new SQLite database:

In [13]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///mydatabase.db')

Write the data into the database:

In [14]:
df.to_sql('countries', db)

12

Check that a database file has been created in your current working directory:

In [15]:
!ls

 continents.ipynb	 Fertility.ipynb    pandas_intro.ipynb
 data			'Five bugs.ipynb'   Selecting_Rows_and_Columns.ipynb
 data_round_trip.ipynb	 histo.png
 demography.ipynb	 mydatabase.db

Inspect the file that was created in a text editor. Do not spend more than 1-2 minutes on this.

*Dont worry if this is completely new to you. We will cover SQL later in the course*