In [5]:
import pandas as pd
import numpy as np

In [2]:
data = [[82_000_000, 1.9, "Europe"],
        [ 5_500_000, 1.8, "Europe"]]

df = pd.DataFrame(data,
                  columns=['population', 'fertility', 'continent'],
                  index=['Germany', 'Denmark'])

In [3]:
df.head()

         population  fertility continent
Germany    82000000        1.9    Europe
Denmark     5500000        1.8    Europe

In [6]:
data = {'spices': ['parsley', 'sage', 'rosemary', 'thyme'],
        'value': [1.2, 3.4, np.nan, 5.6],
        'good_for_spaghetti': [False, False, True, True]}

In [8]:
df = pd.DataFrame(data, index=[1,2,3,4])

In [9]:
df

     spices  value  good_for_spaghetti
1   parsley    1.2               False
2      sage    3.4               False
3  rosemary    NaN                True
4     thyme    5.6                True

In [10]:
df = pd.read_csv('data/large_countries_2015.csv', index_col=0, sep=",")

In [11]:
df.head()

              population  fertility      continent
Bangladesh  1.609956e+08       2.12           Asia
Brazil      2.078475e+08       1.78  South America
China       1.376049e+09       1.57           Asia
India       1.311051e+09       2.43           Asia
Indonesia   2.575638e+08       2.28           Asia

In [12]:
df.shape

(12, 3)

In [19]:
df.loc[(df['population']>100_000_000) & (df.fertility<2) ]

                 population  fertility      continent
Brazil         2.078475e+08       1.78  South America
China          1.376049e+09       1.57           Asia
Japan          1.265735e+08       1.45           Asia
Russia         1.434569e+08       1.61         Europe
United States  3.217736e+08       1.97  North America