In [2]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np

In [ ]:
# 1. read the file into pandas
import pandas as pd

In [3]:
df = pd.read_excel('data/gapminder_lifeexpectancy.xlsx', index_col=0)
life = df[1960].dropna()

In [5]:
df.head()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Life expectancy,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,28.21,28.20,28.19,28.18,28.17,28.16,28.15,28.14,28.13,28.12,...,52.4,52.8,53.3,53.6,54.0,54.4,54.8,54.9,53.8,52.72
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,...,76.6,76.8,77.0,77.2,77.4,77.5,77.7,77.9,78.0,78.10
Algeria,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,...,75.3,75.5,75.7,76.0,76.1,76.2,76.3,76.3,76.4,76.50

In [8]:
life.head()

Life expectancy
Afghanistan            31.94
Albania                62.87
Algeria                47.50
Angola                 35.98
Antigua and Barbuda    62.97
Name: 1960, dtype: float64

In [10]:
# 2. calculate the mean life expectancy
life.describe()

count    202.000000
mean      54.732822
std       11.689637
min       29.610000
25%       45.075000
50%       56.185000
75%       64.742500
max       74.220000
Name: 1960, dtype: float64

In [11]:
# 3. calculate the median
life.median()

56.185

In [12]:
# 4. calculate the standard deviation
life.std()

11.689637178760742

In [15]:
# 5. calculate the variance
life.var()

136.64761737106542

In [16]:
# 6. find the highest life expectancy
life.max()

74.22

In [17]:
# 7. find the lowest life expectancy
life.min()

29.61

In [19]:
# 8. find the 90% quantile
life.quantile(.90)

69.707

In [21]:
# 9. store the number of data points in a variable
dp = life.size

In [22]:
# 10. calculate min, max, mean and range (and possibly other descriptors) with a single line
life.describe()

count    202.000000
mean      54.732822
std       11.689637
min       29.610000
25%       45.075000
50%       56.185000
75%       64.742500
max       74.220000
Name: 1960, dtype: float64