In [1]:
import pandas as pd

In [3]:
# 1. read the file into a DataFrame
df = pd.read_csv('data/continents.csv', sep=';')

In [4]:
# 2. display the number of rows and columns
df.shape

(194, 2)

In [5]:
# 3. display the first 5 countries in the alphabet
df.head()

  continent   country
0    Africa   Algeria
1    Africa    Angola
2    Africa     Benin
3    Africa  Botswana
4    Africa   Burkina

In [22]:
# 4. which continent has the most countries?
df.groupby('continent').count()

                       country
continent
Africa                      54
Asia                        44
Australia and Oceania       14
Europe                      47
North America               23
South America               12

In [ ]:
# 5. find out on which continent Cyprus is
...

In [ ]:
# 6. define a DataFrame with all African countries
africa = ...

In [ ]:
# 7. define a DataFrame with countries 80 through 100
subset = ...

In [ ]:
# 8. select every second country
...